name = "Roots"
uuid = "f2b01f46-fcfa-551c-844a-d8ac1e96c665"
version = "1.0.10"

[deps]
CommonSolve = "38540f10-b2f7-11e9-35d8-d573e4eb0ff2"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"

[compat]
CommonSolve = "0.1, 0.2"
SpecialFunctions = "0.8, 0.9, 0.10, 1.0"
julia = "1.0"

[extras]
JSON = "682c06a0-de6a-54ab-a142-c8b1cf79cde6"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["JSON", "SpecialFunctions", "Statistics", "Test"]
